{% extends 'gui/selectFile.html' %}{% block head %}{% load staticfiles %}
<link href="{% static '/gui/css/jquery.circliful.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/gui/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static '/gui/css/overview.css' %}" rel="stylesheet" type="text/css" />

<script src="http://code.jquery.com/jquery-1.4.min.js"></script>
<script src="{% static '/gui/js/jquery.circliful.js' %}"></script>
<script src="{% static '/gui/js/Rx.min.js' %}"></script>

<script src="{% static 'gui/js/overview.js' %}"></script>
<link rel="stylesheet" href="{% static 'gui/css/residence_Settings.css' %}">
<script src="//widget.time.is/t.js"></script>
    <script>
            time_is_widget.init({ New_Delhi_z424: {} });
    </script> 

 {% endblock %} {% block body %} {% block main %} {% block mydashboard %}

<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
            <i class="fa fa-bars"></i>  Dashboard</button>
        <span class="w3-bar-item w3-left">FTORRENT</span>

        <a href="https://time.is/New_Delhi" id="time_is_link" rel="nofollow" style="font-size:20px; vertical-align: middle;"></a>
        <span class="w3-bar-item w3-right" id="New_Delhi_z424" style="font-size:20px;"></span>
    </div>
{% endblock %}
<div class="w3-row-padding">
	<div class="w3-col s12 highlighted" style="height: 88vh;">

		<div class="w3-row-padding w3-margin-bottom" style="padding-top: 20%">

				<div class="w3-col s6 w3-blue">
						<div class="w3-container w3-padding-16 w3-blue" align="center" >
							<i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
							<div style="margin-top: 10px"></div>
							<table>
								<tr>
									<td style="width: 70%"> Name of File </td>
									<td><center>jhvjhvjhvjh</center></td>
								</tr>
								<tr>
									<td style="width: 70%"> No. of Peers </td>
									<td><center>5</center></td>
								</tr>
							</table>
							
						</div>
					</div>

				<div class="w3-col s6">
					<center>
					<div>
						<div id="drinkingCircliful"></div>
					</div>
				</center>
				</div>
		</div>

		<!-- <div style="margin-top: 30px;">
			<h4 style="text-align: center;">Latest Sensor Readings</h4>
			<div style="margin-top: 20px;"></div>
		</div> -->
	</div>
	

</div>
{% endblock %} {% endblock %} {% block script %} {% endblock %}